@{
    ViewData["Title"] = "Hem";
}

<div class="home-page">
    <section class="hero-section">
        <div class="hero-content">
            <h1>Låna böcker och utrustning</h1>
            <p>
                Kolla bland alla våra alternativ av böcker och utrustning.
                Hitta det du behöver och hantera dina lån enkelt.
            </p>
            <a asp-controller="Items" asp-action="Index" class="primary-btn">Klicka här</a>
        </div>
    </section>
    
</div>
