@{
    ViewData["Title"] = "Min profil";
}

<h1>Min profil</h1>

<div>
    <p><strong>Användarnamn:</strong> TestUser</p>
    <p><strong>Email:</strong> test@test.com</p>
</div>

<div>
    <a asp-controller="Profile" asp-action="ChangePassword">
        Byt lösenord
    </a>
</div>